[Unit]
Description=Roadrunner Service
Requires=php{{ php_version }}-fpm.service
ConditionPathExists={{ roadrunner.prefix.current_release }}

[Service]
ExecStart={{ roadrunner.prefix.bin }}/rr -w {{ roadrunner.prefix.current_release }} -c {{ roadrunner.prefix.config }}/rr.yaml -d serve -p
ExecStop={{ roadrunner.prefix.bin }}/rr  -w {{ roadrunner.prefix.current_release }} -c {{ roadrunner.prefix.config }}/rr.yaml -d stop && sleep 30
Type=simple
StandardError=journal
StandardOutput=journal
Restart=always
SyslogIdentifier=roadrunner
StandardInput=null
User=proserver
WorkingDirectory={{ roadrunner.prefix.current_release }}

[Install]
WantedBy=multi-user.target
